.talks {
    padding: 98px 0 0 0;
    background-color: #020A0C;
}

.talks__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.talks__content {
    
    .content__title {
    font-size: 66px;
    line-height: 94px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
        .text-bold {
            font-weight: 700;
            font-size: 94px;
    }
        .content__subtitle {
            font-size: 21px;
            line-height: 25px;
            color: rgba(255, 255, 255, 0.5);
    }
}
}



.talks__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 140px;
    max-height: 140px;
    background-color:#FFFFFF;
    border-radius: 69px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    p {
        padding: 49px 35px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}